# 網站基本信息
NEXT_PUBLIC_SITE_URL=https://akio-hasegawa.design
NEXT_PUBLIC_SITE_NAME="Akio Hasegawa"
NEXT_PUBLIC_SITE_DESCRIPTION="Your comprehensive guide to interior design. Discover inspiration, tips, and practical solutions for creating beautiful and functional living spaces."
NEXT_PUBLIC_SITE_AUTHOR="Akio Hasegawa"

# Cloudinary 配置
IMAGES_ROOT_DIR=/absolute/path/to/your/images/directory 
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_BASE_PATH=interior-inspiration-website/posts

# Pinterest 配置
PINTEREST_CLIENT_ID=your_client_id_here
PINTEREST_CLIENT_SECRET=your_client_secret_here
PINTEREST_ACCESS_TOKEN=your-access-token
PINTEREST_USE_SANDBOX=

# 代理設置
HTTP_PROXY=http://127.0.0.1:7890
HTTPS_PROXY=http://127.0.0.1:7890
http_proxy=http://127.0.0.1:7890
https_proxy=http://127.0.0.1:7890